{% load bootstrap4 %}
<!-- stylesheets, javascriopts, links -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Connect App Website">
    <meta name="keywords" content="HTML,social,advanced,web,development">
    <meta name="author" content="D.Cng">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/connect.css">
</head>
